body {
  background-color: #0e0d14;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /* .MuiLinearProgress-colorPrimary {
  background-color: #24232a;
  opacity: 0.2;
} */

/* .MuiLinearProgress-barColorPrimary {
  background-color: #24232a;
} */

/* "& :not(.MuiLinearProgress-buffer)":
                      {
                     
                        // backgroundImage: "none",
                        // animation: "none",
                      }, */

/* backgroundColor: { xs: "#24232a", sm: "#0e0d14" }, */
